@{
    ViewBag.Title = "AddShop";
    Layout = "~/Views/Shared/Admin/Body.cshtml";

    string path = Path.GetRandomFileName();
path = path.Replace(".", "");
}
<div class="panel panel-widget forms-panel">
    <div class="forms">
        <div class="form-grids widget-shadow" data-example-id="basic-forms">
            <div class="form-title">
                <h4>Add New Shop :</h4>
            </div>
            <div class="form-body">
                <form method="post" action="@Url.Action("AddShop","Admin")" enctype="multipart/form-data" >

                    <input type="hidden" name="Shop_Id" value="@path" />
                    <input type="hidden" name="Shopkeeper_Refference_ID" value="No" />

                    <div class="form-group">
                        <label for="exampleInputEmail1">Shop_Name:</label>
                        <input type="text" name="Shop_Name" class="form-control" placeholder="Name Title">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Shopkeeper Name;</label>
                        <input type="text" class="form-control" placeholder="Shopkeeper Name" name="Shopkeeper_Name">
                    </div>


                    <div class="form-group">
                        <label for="exampleInputPassword1">Shop Address</label>
                        <input  type="text" class="form-control" name="Shop_Address" placeholder="Shop Address">
                    </div>


                    <div class="form-group">
                        <label for="exampleInputPassword1">Description</label>
                        <textarea name="Description" class="form-control"></textarea>
                    </div>


                    <div class="form-group">
                        <label for="exampleInputPassword1">Catagory</label>
                        <select class="form-control" name="Catagory">
                            <option selected disabled>--Select--</option>
                            @foreach (var item in @ViewBag.catlist)
                            {
                                <option value="@item.Cat_ID">@item.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputFile">Select Image</label>
                        <input type="hidden" name="Shop_Logo" value="NO" />
                        <input type="file" name="Shop_Logo_File" class="form-control">

                    </div>

                    <input type="submit" class="btn btn-default" value="Add" />
                </form>
            </div>
        </div>
    </div>
</div>