@model Eproject.Models.product

@{
    ViewBag.Title = "NewProduct";
    Layout = "~/Views/Shared/Admin/Body.cshtml";
    
}



@{string path = Path.GetRandomFileName();
  path = path.Replace(".", ""); 
  }


<div class="panel panel-widget forms-panel">
						<div class="progressbar-heading general-heading">
							<h4>Insert New Product:</h4>
						</div>
						<div class="forms" >
								<h3 class="title1"></h3>
								<div class="form-three widget-shadow">
									<form class="form-horizontal" enctype="multipart/form-data" method="post" action="@Url.Action("NewProduct","Admin")">
										<div class="form-group">
											<label for="focusedinput" class="col-sm-2 control-label">Product Name</label>
											<div class="col-sm-8">
												<input type="text" class="form-control1" name="Pro_Name" placeholder="Name">
											</div>
											<div class="col-sm-2">
												
											</div>
										</div>
										
										<div class="form-group">
											<label for="inputPassword" class="col-sm-2 control-label">Description</label>
											<div class="col-sm-8">
												<textarea class="form-control1" name="Des"  placeholder="Description"></textarea>
											</div>
										</div>
										
										
										<div class="form-group">
											<label class="col-sm-2 control-label">Catogary</label>
											<div class="col-sm-8">
                                                <select name="Catogary" class="form-control1">
                                                  
                                                    <option selected disabled>--Select--</option>
                                                    @foreach (var item in ViewBag.cats)
                                                    {
                                                    <option value="@item.Cat_ID">@item.Name</option>    
                                                    }
                                                    
                                                </select>
											</div>
										</div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Brand</label>
                                            <div class="col-sm-8">
                                                <select name="Brand" class="form-control1">
                                                    
                                                    <option selected disabled>--Select--</option>
                                                    @foreach (var item in ViewBag.brand)
                                                    {
                                                        <option value="@item.Brand_Id">@item.Brand_Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="focusedinput" class="col-sm-2 control-label">Shop</label>
                                            <div class="col-sm-8">
                                                <select name="Shop" class="form-control1">

                                                    <option selected disabled>--Select--</option>
                                                    @foreach (var item in ViewBag.shop)
                                                    {
                                                        <option value="@item.Shop_Id">@item.Shop_Name</option>
                                                    }
                                                </select>

                                            </div>

                                        </div>
                                        

                                        <div class="form-group">
                                            <label for="focusedinput" class="col-sm-2 control-label">Product price</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control1" name="Price" placeholder="Price">
                                            </div>
                                            
                                        </div>	

                                        
                                        <input type="hidden" name="Date_Time" value="@DateTime.Now"/>
                                        <input type="hidden" name="Status" value="A"/>
                                        <input type="hidden" name="Image" value="A" />
                                        <input type="hidden" name="Pro_ID" value="@path" />
										

                                        <div class="form-group">
                                            <label for="focusedinput" class="col-sm-2 control-label">Select Image</label>
                                            <div class="col-sm-8">
                                                <input type="file" class="form-control1" name="ProductImage" placeholder="Select Image">
                                            </div>
                                            <div class="col-sm-2">
                                                <p class="help-block">Select Image</p>
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <input type="submit" value="Add Product"  class="form-control1"/>
                                        </div>
										
										
									</form>
								</div>
						</div>
					</div>


