@model Eproject.Models.product

@{
    ViewBag.Title = "ViewProduct";
    Layout = "~/Views/Shared/Admin/Body.cshtml";
}
<div class="women_main">
    <!-- start content -->
    <div class="row single">
        <div class="det">
            <div class="single_left">
                <div class="grid images_3_of_2">
                    <img src="@Url.Content(@Model.Image)" class="images_3_of_2" style="width:100%;height:100%"/>
                </div>
                <div class="desc1 span_3_of_2">
                    <h3>@Model.Pro_Name</h3>
                    <span class="brand">Brand: <a href="#">@foreach (var item in ViewBag.brand) { @item.Brand_Name}</a></span>
                    <br />
                    <span class="brand">Category: <a href="#">
                        @foreach (var item in ViewBag.cat)
                        { @item.Name}
                        </a></span>
                    <br />
                    <span class="brand">Store: <a href="#">
                        @foreach (var item in ViewBag.shop)
                        { @item.Shop_Name}
                        
                        </a></span>
                    <br />
                    <span class="brand">Avalability: <a href="#">@Model.Status </a></span>
                    <br>
                    <span class="code">Product Code: @Model.Pro_ID</span>
                    <p>@Model.Des</p>
                    <div class="price">
                        <span class="text">Price:</span>
                        <span class="price-new">Rs: @Model.Price /=</span>
                       
                    </div>
                    
                    <div class="btn_form">
                        <a href="@Url.Action("UpdateProduct", "Admin", new { id = @Model.Pro_ID })">Change</a>
                    </div>
                    <a href="@Url.Action("DeleteProduct", "Admin", new { id = @Model.Pro_ID })"><span>Delete This Product </span></a>
                    
                </div>
                <div class="clearfix"></div>
            </div>
            
            
        </div>
    </div>
    <!-- end content -->
    
    
</div>